/* Réinitialisation des styles de base */
body, h1, h2, p, ul, li, a, span {
    margin: 0;
    padding: 0;
}

/* Styles de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* En-tête */
header {
    background-color: #0078d4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Titre principal */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Navigation */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

/* Ajout des styles pour les sections */
.flex-container {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    flex-wrap: wrap; /* Permet le retour à la ligne des sections si nécessaire */
}

section {
    margin: 20px; /* Marge autour des sections */
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
section:hover {
    box-shadow: 0px 0px 85px rgba(0, 0, 0, 0.3); /* Augmente l'ombre */
    padding: 30px; /* Augmente la taille de la section */
    transform: scale(1.05); /* Légère augmentation de la taille */
}

/* Styles pour le pied de page */
footer {
    background-color: #0078d4;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed; /* Position fixe pour maintenir le pied de page en bas */
    bottom: 0; /* Le pied de page sera aligné en bas de la fenêtre du navigateur */
    width: 100%;
}

/* Liens dans le pied de page */
footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
    position: fixed; /* Position fixe pour maintenir le pied de page en bas */
}

footer a:hover {
    text-decoration: underline;
}

/* Styles pour le texte en gras et italique */
span {
    font-weight: bold;
    font-style: italic;
}
